<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
      BLUETOOTH_CONNECT is required to:
      - read paired BR/EDR devices via BluetoothAdapter.getBondedDevices()
      - call BluetoothDevice socket creation methods
      - call BluetoothSocket.connect()
      It is the runtime-permission gate that already protects the existing public
      socket APIs (createL2capChannel, createInsecureRfcommSocketToServiceRecord);
      a public BR/EDR L2CAP API would gate behind the same permission.
    -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.L2CAPSocketDemo">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.L2CAPSocketDemo"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>